chromadb==0.4.14
email-reply-parser==0.5.12
Flask==3.0.0
IMAPClient==2.3.1
python-decouple==3.8
pyzmail36==1.0.5
langchain==0.0.133
openai==0.28.1
sklearn==0.0.post10
SQLAlchemy==1.4.49
talon==1.4.4
uuid6==2023.5.2